@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');


/*COLOR VARIABLES*/
:root{
    --darkBlue:hsl(233, 26%, 24%);
    --limeGreen:hsl(136, 65%, 51%);
    --brightCyan:hsl(192, 70%, 51%);
    --grayishBlue:hsl(233, 8%, 62%);
    --lightGrayishBlue:hsl(220, 16%, 96%);
    --veryLightGray:hsl(0, 0%, 98%);
    --white:hsl(0, 0%, 100%);
}


/*BASE STYLES*/
body{
    font-family: 'Public Sans', sans-serif;
    font-size:18px;
    overflow-x:hidden;
}

*{
        padding:0;
        margin:0;
        box-sizing: border-box;
        font-size:18px;
}

a{
    text-decoration: none;;
}

ul,li{
    list-style-type: none;
}


.requestButton{
            border: none;
            outline:none;
            padding:10px 15px;
            border-radius: 5px;
            width:200px;
            border-radius:100px;
            color:white;
            font-weight: 400;
            background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}

.requestButton:hover{
            opacity:0.7;
            cursor:pointer;
}

h1{
    margin-bottom:20px;
    font-size:3em;
    font-weight:400;
    color:  var(--darkBlue);
}

h2{
    margin-bottom:20px;
    font-size:2em;
    font-weight:400;
    color:  var(--darkBlue);
}

h3{
    margin-bottom:20px;
    font-size:1.3em;
    font-weight:400;
    color:  var(--darkBlue);
}

h5{
    margin-bottom:10px;
    font-size:1em;
    font-weight:300;
    color:hsla(233, 8%, 40%, 1);
    width:220px;
    padding-left:20px;
}


h5:hover{
    color:var( --limeGreen);
}

p{
    margin-bottom:20px;
    font-weight:300;
    color:  var( --grayishBlue);
    line-height:1.5;
    
}

.flex{
            display:flex;
}

.close{
    position:absolute;
    top:20px;
    right:20px;
    width:30px;
    height:20px;
    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav .logo{
            width:auto;
            height:20px;
            display:flex;
            align-items:center;
}

.container{
        display:flex;
        flex-direction:column;
}

nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding:20px 170px;
        background-color: var(--white);
}

main{
        flex-direction:column;
        justify-content: center;
}

.nextGeneration{
        display:flex;
        flex-direction: row;
        justify-content:space-between ;
        align-items:center;
        background-color:var(--veryLightGray) ;
        z-index:-1;
        width:100%;
        height:800px;
        max-width:1440px;
        margin-right:0;
        padding-right:0;
        margin-bottom:0;
        padding-bottom:0;
        margin-bottom:-200px;
}

.nextGenCard{
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        margin-left:170px;
        width:35%;
        height:auto;
        margin-right:20px;
        z-index:999;
        margin-top:-200px;
        
}

.nextGenCard .requestButton:hover{
    opacity:0.7;
    cursor:pointer;
}

.nextGenCard p{
        margin-bottom:20px;
        font-weight:300;
        color:  var( --grayishBlue);
        line-height:1.5;
        width:420px;
} 

.nextGenImage{  
    width:70%;
    height:1160px;
    z-index:9;
    position:relative;
    top:0;
    right:0px;
    background-image: url('../images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position-y:-230px;
    background-position-x: -50px;
    background-size: auto;
    overflow-y: visible;
}

.nextGenImage .phoneImg{
    z-index:1000;
    margin-left:100px;
    margin-top:-120px;
   
    
}

.menu.show{
    display:flex;
}

.menu{
    justify-content:space-between;
}

.menu li{
    margin-right:25px;
    
}

.close{
    display:none;
}

.menu li a{
    font-weight:300;
    color:  var( --grayishBlue);
}

.menu a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    
    text-decoration-skip-ink: none;
    text-underline-offset:1.8em;
    cursor:pointer;
}

.menu li a:hover::after{
    content: "";
    position:absolute;
    bottom:0;
    left:0;
    height:3px;
    background-image: linear-gradient(to right,#31d35c,#2bb7da);
}

.whyChoose{
    flex-direction: column;
    padding-left:170px;
    padding-right:170px;
    background:var(--lightGrayishBlue);
    z-index:8;
}

.whyChooseIntro{
    flex-direction: column;
    padding-top:100px;
    padding-bottom:50px;
    z-index:8;
}

.whyChooseCard .card{
    flex-direction: column;
    width:250px;
    margin-right:60px;

}


.whyChooseIntro p{
    padding-right:350px;
}

.whyChooseCard .card p{
    font-size:16px;
    padding-right:25px;
    padding-bottom:40px;
}


.cardImage{
    display:block;
    width:30%;
    height:auto;
    margin-bottom:50px;
}

.latestArticle{
    flex-direction:column;
    padding-left:170px;
    padding-right:170px;
    background-color:var(--veryLightGray) ;
    padding-bottom:70px;
}

.articleCard{
    flex-direction: column;
    width:25%;
    height:auto;
    background-color: var(--white);
    margin-right:45px;
}

.articleCard:last-child{
    padding-right:0;
    margin-right: 0;
}

.articleCard p{
    width:220px;
    font-size:12px;
    padding-left:20px;
    
}

.articleImg{
    display:block;
    width:220px;
    height:146.667px;
    margin-bottom:30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.heading{
    padding-top:100px;
    padding-bottom:50px;
}

small{
    color:  var( --grayishBlue);
    font-size:12px;
    font-weight:300;
    padding-bottom:10px;
    padding-left:20px;
}

footer{
    flex-direction:column;
    padding-left:170px;
    padding-right:170px;
    background:var(--darkBlue);
}

.footerCol{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerCol img{
    width:auto;
    height:20px;
}

.footerCol ul{
    flex-direction: column;
}

.footerCol ul li a{
    color:white;
    font-size:14px;
    line-height:2;
}

.footerCol ul li a:hover{
    color:var(--limeGreen);
}

.footerCard{
    padding-top:50px;
    padding-bottom:20px;
    justify-content:space-between;
}

.footerCol:first-child{
    justify-content:space-between;
}

.footerCol:nth-child(2){
    justify-content:space-between;
}

.footerCol:nth-child(3){
    justify-content:space-between;
}

.footerCol:last-child{
    justify-content:space-between;
    align-items: flex-end;
}

.footerCol:last-child p{
    font-size:14px;
    margin-top:20px; 
}

.social svg{
    margin-right:15px;
}

.social svg:hover{
   filter: invert(0.12) sepia(1) saturate(20) hue-rotate(57.6deg) brightness(1);
}

@media screen and (max-width:960px){
    nav{
            padding-left:50px;
            padding-right:50px;
    }
    .nextGenCard{
            margin-left:50px;
    }

    .whyChoose{
            padding-left:50px;
            padding-right:50px;
    }
    .whyChooseIntro{
        padding-left:90px;
    }

    .whyChooseCard{
        flex-wrap: wrap;
        justify-content:center;
    }

    .latestArticle{
        padding-left:130px;
    }

    .article{
        flex-wrap:wrap;
    }

    .articleCard{
        margin-right:110px;
    }

    footer{
        padding-left:50px;
        padding-right:50px;
    }

}

@media screen and (max-width:770px){
    nav{
        padding-left:20px;
        padding-right:20px;
    }

    nav ul li a{
        font-size:14px;
    }

    .logo{
        margin-top:5px;
    }

    .nextGeneration{
        margin-bottom:-350px;
    }

    .nextGenCard{
        margin-top:-350px;
        margin-left:20px;
        
    }

    .nextGenCard h1{
        font-size:1.5rem;
    }

    .nextGenCard p{
        font-size:0.8rem;
        width:250px;
    }

    .nextGenImage .phoneImg{
        width:auto;
        height:50%;
        margin-top:40px;
    }

    .nextGenImage{
        background-size: 100%;
        transform:scale(130%);
        background-position-x: 0px;
        background-position-y: 0px;
    }

    .whyChooseIntro{
        padding-left:20px;
        margin-bottom:40px;
    }

    .whyChooseCard{
        flex-wrap: wrap;
        margin:-70px;
        padding:0;
        margin-bottom:40px;
    }

    
    .whyChooseCard .card{
        width:240px;
        margin-left:0;
        padding-left:0;
    }

    .latestArticle{
        margin:0 auto;
        padding-left:50px;
        
    }

    .articleCard{
        margin-right:50px;
        width:200px;
    }

    .social>svg{
        margin-right:5px;
    }

}

@media screen and (max-width:650px){

    nav{
        padding-right:0px;
    }
    nav .requestButton{
        display:none;
    }

    .nextGeneration{
        flex-direction:column-reverse;
        margin:0;
        padding:0;
        align-items: center;
        justify-content:space-around;
        transform:scale(110%);
        width:650px;
        height:auto;
        
    }

    .nextGenImage{
        background-position-x: -150px;
        background-position-y: -400px;
        background-size: 180% auto;
        width:650px;
        height:600px;
    }

    .nextGenImage .phoneImg{
        width:80%;
        height:auto;
        transform:translateX(-10%) translateY(-35%);
        
    }

    .nextGenCard{
        margin:0;
        padding:0;
        height:350px;
        align-items: center;
        padding-left:30px;
    }

    .nextGenCard h1{
        font-size:3rem;
        margin:0;
        padding:0;
        width:500px;
        text-align: center;
        transform:translateX(-27%);
        margin-bottom:10px;
    }

    .nextGenCard .requestButton{
        margin-bottom:60px;
        transform:translateX(-50%);
    }

    .nextGenCard p{
        text-align:center;
        font-size:1rem;
        margin:0;
        width:500px;
        height:auto;
        text-align: center;
        transform:translateX(-27%);
        padding-bottom:20px;
    }

    .nextGenImage{
        margin:0;
        padding:0;
      
    }

    .whyChooseIntro{
            text-align: center;
    }

    .whyChooseIntro p{
        text-align: center;
        width:100%;
        padding-right:0;
    }

    .whyChooseCard .card{
        justify-content: center;
        align-items:center;
        margin-right:0;
        padding-right:0;
        width:75%;
        
    }

    .whyChooseCard .card p{
        margin-right:0;
        padding-right:0;
        text-align: center;
    }

    .whyChooseCard .card img{
        width:25%;
        height:auto;
    }

    .latestArticle{
        justify-content: center;
        align-items:center;
        margin-right:0;
        padding-right:0;
    }

    .heading{
    
        display:flex;
        justify-content:center;
    }

    .heading h2{
        margin-left:-50px;
        padding:0;
    }

    .articleCard{
        margin:0;
        padding:0;
        width:90%;
        justify-content:center;
        padding-bottom:40px;
        align-items: center;
        justify-content:center;
    }

    .articleImg{
        width:90%;
        height:auto;
        align-items: center;
        justify-content:center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    small{
        align-self: flex-start;
        padding-left: 50px;
    }

    .articleCard h5{
        text-align: left;
        width:90%;
        font-size:20px;
    
    }

    .articleCard p{
        text-align: left;
        width:90%;
        padding-right:20px;
        font-size:15px;
        
    }

    footer{
        padding-top:50px;
        padding-bottom:20px;
    }

    .footerCard{
        flex-direction: column;
        margin:0;
        padding:0;
    }

    .footerCol{
        align-items:center;
        justify-content:space-between;
        margin:0;
        padding:0;
    }

    .footerCol .logo{
        margin-bottom:40px;
        margin-left:-20px;
    }

    .social >svg{
        margin-right:15px;
        margin-bottom:40px;
    }

    .footerCol ul{
        margin:0;
        padding:0;
        align-items: center;
    }

    .footerCol ul li{
        margin-bottom:5px;
    }

    .footerCol .requestButton{
        margin-top:20px;
        transform:translateX(-60%);
    }

    .footerCol p{
        align-self: center;
    }

}

@media screen and (max-width:540px){
    nav .menu{
       display:none;
       flex-direction:column;
       align-items:center;
       position:absolute;
       top:90px;
       left:52.5%;
       transform:translateX(-50%);
       border-radius: 10px;
       
    }

    nav .menu::before{
        content:'';
        position:absolute;
        top:-25px;
        left:-75px;
        right:0px;
        bottom:0;
        width:540px;
        height:100vh;
        background-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
        z-index:-1;
    }

    nav .menu li{
        width:400px;
        height:60px;
        background-color: var(--white);
        text-align: center;
        z-index:2;
     }

     nav .menu li a{
        color:var(--darkBlue);
        font-size:1.2rem;
        font-weight:400;
     }

     nav .menu li a:hover{
         text-decoration: none;
     }

     nav .menu li:first-child{
        padding-top:30px;
        padding-bottom:60px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
     }

     nav .menu li:last-child{
        padding-bottom:50px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .close{
        display:block;
        position:absolute;
        right:20px;
    }

  
    .nextGenImage{
        background-position-x: -150px;
        background-position-y: -530px;
        background-size: 180% auto;
        width:650px;
        height:600px;
    }

    .nextGenImage .phoneImg{
        width:65%;
        height:auto;
        transform:translateX(-16%) translateY(-37%);
        
    }

    .nextGenCard{
        transform:translateY(-100%);
        height:200px;
    }

    .nextGenCard h1{
  
        align-items: center;
        font-size:2.2rem;
        margin-bottom:30px;
        margin-left:0px;
        margin-right:20px;
        width:330px;
    }

    .nextGenCard p{
        align-items: center;
        font-size:1rem;
        margin-left:20px;
        margin-right:20px;
        width:330px;
    }

    .footerCol .requestButton{
        margin-top:20px;
        transform:translateX(-50%);
    }
}


@media screen and (max-width:375px){
    nav .menu{
       display:none;
    }

    .close{
        display:block;
        position:absolute;
        right:20px;
    }

    nav .menu li{
        width:250px;
     }

   

    .nextGenImage{
        max-width:375px;
        height:370px;
        background-position-x: -60px;
        background-position-y: -70px;
     
        
    }

    .nextGenImage .phoneImg{
        transform:scale(160%);
        margin-left:20px;
    }

    .nextGenCard h1{
        align-items: center;
        font-size:2.45rem;
        margin-bottom:30px;
        margin-left:15px;
        margin-right:20px;
        width:330px;
    }

    .nextGenCard p{
        align-items: center;
        font-size:1rem;
        transform:translateX(-10%);
        margin-right:20px;
        width:330px;
    }



    }


